<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="far fa-eye fa-3x"></i></h1>
      <p>Bienvenue</p>
      <a href="/products/add" class="btn btn-secondary btn-block mb-2">Ajouter un produit</a>
      <a href="/products/search" class="btn btn-secondary btn-block">Rechercher un produit</a>
    </div>
  </div>
</div>
